<h1> Make a Quote</h1>
<%= form_tag '/quotes', method: :post do %>
  <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description, @quote.description, {class: "form_control", placeholder: "Enter Description"} %>
  </div>
  <div class="form-group">
    <%= label_tag :location %>
    <%= text_field_tag :location, @quote.location, {class: "form_control", placeholder: "Where?"} %>
  </div>
  <div class="form-group">
    <%= label_tag :date %>
    <%= text_field_tag :date, @quote.date, {class: "form-control", placeholder: "Enter date as month/date/year"} %>
  </div>
  <div>
    <%= submit_tag 'Send' %>
  </div>
<% end %>