<h1>New Quote:</h1>
<p><%= @quote.description %><p>
<p>Quote made: <%= @quote.date %></p>
<%= link_to "Edit this quote", "/quotes/#{@quote.id}/edit" %> 
<%= link_to "Back to all quotes", "/quotes" %> 
<%= link_to "Delete this quote", "/quotes/#{@quote.id}", method: :delete %> 