<h1>New Quote:</h1>
<p><%= @quote.description %><p>
<p>Quote made: <%= @quote.date %></p>
<%= link_to "Edit", "/quotes/#{@quote.id}/edit", class: "btn btn-success" %>
<%= link_to "Delete", "/quotes/#{@quote.id}", {method: :delete, class: "btn btn-danger" %> 
<%= link_to "Back to all quotes", "/quotes" %>