   <!DOCTYPE html>
<html>
<head>
  <title>CapstoneApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <body>
        <main class="container left-container">
            <div class="row">

                <div id="menu-target">
                    <ul>
                        <li><i class="fa fa-arrow-circle-up"></i><a href="/users/sign_up">Sign Up</a></li>
                        <li><i class="fa fa-sign-in"></i><a href="/users/sign_in">Sign In</a></li>
                        <li><i class="fa fa-sign-out"></i><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
                    </ul>
                        <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                        <li><i class="fa fa-user"></i><a href="/users">Community</a></li>
                        <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                        <li><i class="fa fa-star"style="color: yellow;"></i><a href="favorites">Favorites</a></li>
                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                    </ul>
                    <hr>
                </div>

                <section class="sidebar col-md-5 col-sm-12" style="background-image: url(https://cdn.shopify.com/s/files/1/0117/3662/products/letter-q-copper-type-stencil_723c170b-e587-4973-868a-c6fcfd8dfb58.jpeg">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

                    <!-- if the user has javascript disabled they can still use the menu -->
                    <noscript>
                        <div class="no-js-menu">
                            <ul>
                                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                                <li><i class="fa fa-user"></i><a href="users">Community</a></li>
                                <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                                <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                                <li><i class="fa fa-arrow-circle-up"></i><a href="/users/sign_up">Sign Up</a></li>
                                <li><i class="fa fa-sign-in"></i><a href="/users/sign_in">Sign In</a></li>
                                <li><i class="fa fa-sign-out"></i><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
                                <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                            </ul>
                        </div>
                    </noscript>
                    <!-- end no script -->

                    <div class="site-info">
                        <div class="primary-info">
                            <h1>QuoteBoard</h1>
                            

                            <p>Content is king</p>
                        </div>
                        <div class="secondary-info">
                            <p>
                                <!-- <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a> -->
                            </p>
                        </div>
                    </div>
                </section><!-- end sidebar -->
                <div>
                  <% flash.each do |name, message| %>
                    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
                    </div>
                <% end %>
                <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
                    <%= yield %>
 
                    <footer class="split-footer">
                        <a href="post.html">About</a>
                        <i class="link-spacer"></i>
                        <a href="post.html">Writer 2015</a>
                    </footer>

                </section><!-- main content -->

            </div> <!--/row -->

        </main> <!-- /container -->
    </body>
</html>
